[user]
	name = Takumi Kanada
	email = candy12t@gmail.com
[core]
	excludesfile = ~/.config/git/.gitignore
	quotepath = false
	editor = vim
[alias]
	lol = log --oneline
	s = status
	ss = status -s
	cm = commit -m
	cam = commit --amend -m
	df = diff
